body {
  background-color: rgb(0, 0, 0);
}

.home {
  background-color: rgb(43, 43, 43);
  width: 80%;
  min-height: 80vmin;
  color:aliceblue;
  margin: auto;
  margin-top:5%;
  margin-bottom:4%;
  display: flex; 
  flex-direction: row;
  align-content: center;
}

.picture {
  width: 30%;
  justify-content: center;
  transform: scale(1.1);
  box-shadow: 5px, 5px, 5px, 5px black;
  box-shadow:0px, 5px, 5px, 5px;
}

.myPicture {
  width: 100%;
  height: 100%;
  position: fixed;
  
}

.mainContent {
  background-color: rgb(43, 43, 43);
  width: 60%;
  margin-left: 30px;
}

.scroller {
  background-color: rgb(43, 43, 43);
  height:770px;
  width: 952px;  
  overflow-y: auto;
}


.scroller::-webkit-scrollbar {
  color: rgb(219, 31, 31);
  border: 1px solid rgba(0, 0, 0, 0.925);
  width :10px;
  border-radius: 15px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: rgba(14, 196, 241, 0.541);
  border: 1px solid rgba(0, 3, 3, 0.925);
  width :10px;
  border-radius: 15px;
}
