.wellcomeDiv {
  box-shadow: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.wellcomeTitle {
  font-size: 40px;
}

.mininfo {
  display: flex;
  width: 99%;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(14, 196, 241, 0.925);
}

.wellcomeTextDiv{
  width: 85%;
}

.wellcomeText {
  font-size:18px;
}

.HR  {
  width: 70%;
  border: none;
  height: 1px;
  color: rgb(51, 51, 51); 
  background-color: rgb(80, 80, 80); /* Modern Browsers */
}